.page.about-page {
  padding: 20px;
  padding-top: 100px;
  padding-left: 0;
  font-family: "Aldrich";
  position: relative;
}

@media screen and (min-width: 600px) {
  .page.about-page {
    padding: var(--xxl);
    padding-top: var(--m);
  }
}

.page.about-page .sidebar {
  border-right: 3px solid var(--green);
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: var(--xxl);
  height: 100%;
}

@media screen and (min-width: 600px) {
  .page.about-page .sidebar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.page.about-page .sidebar .navigation {
  display: inline;
  margin-top: 30px;
}

.page.about-page .sidebar .navigation > * {
  margin-bottom: 30px;
}

.page.about-page .sidebar .navigation > *:last-child {
  margin-bottom: 0;
}

.page.about-page .sidebar .navigation .link {
  width: 40px;
}

.page.about-page .sidebar .navigation .link img {
  width: 100%;
}

.page.about-page .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.page.about-page .header .connector {
  width: var(--xxl);
  margin-right: calc(var(--m) * -0.1);
}

.page.about-page .header .text {
  color: white;
  font-size: var(--xl);
  border: 3px solid var(--green);
  padding: 5px 20px;
}

.page.about-page .info {
  margin-bottom: 120px;
}

.page.about-page .info .card {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.page.about-page .info .card .connector {
  margin-right: -3px;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
  width: var(--xxl);
  min-height: 10px;
}

.page.about-page .info .card .content-wrapper {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  overflow: hidden;
  border: 3px solid var(--cyan);
  visibility: hidden;
}

.page.about-page .info .card .content-wrapper .content {
  padding: 10px;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 600px) {
  .page.about-page .info .card .content-wrapper .content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.page.about-page .info .card .content-wrapper .content .text {
  padding: var(--m);
}

@media screen and (min-width: 600px) {
  .page.about-page .info .card .content-wrapper .content .text {
    max-width: 50%;
    vertical-align: top;
  }
}

.page.about-page .info .card .content-wrapper .content .image {
  margin: 0 auto;
  padding-top: 20px;
  max-width: 100%;
  max-height: calc(var(--xxl) * 2.5);
  -o-object-fit: contain;
     object-fit: contain;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.page.about-page .info .card .content-wrapper .content .image img {
  width: 100%;
}

@media screen and (min-width: 600px) {
  .page.about-page .info .card .content-wrapper .content .image {
    padding-top: 0;
    padding-left: 10px;
    margin-right: 0;
  }
}

.page.about-page .info .card:nth-of-type(1) .content .text {
  min-width: 30%;
}

.page.about-page .info .card:nth-of-type(1) .content .image {
  overflow: hidden;
}

.page.about-page .info .card:nth-of-type(1) .content .image img {
  width: auto;
  height: auto;
  min-width: 0;
}

.page.about-page .info .card:nth-of-type(1) .content .image img:first-child {
  margin-top: 30px;
}

@media screen and (min-width: 600px) {
  .page.about-page .menu {
    display: none;
  }
}

.page.about-page .instructions {
  position: fixed;
  bottom: 70px;
  z-index: 100;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
  color: white;
}

.page.about-page .instructions::before {
  content: "";
  position: absolute;
  -webkit-backdrop-filter: blur(7px);
          backdrop-filter: blur(7px);
  z-index: -1;
  background-color: #0008;
  inset: -10px;
  border-radius: 10px;
}

.page.about-page .instructions .mouse {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 100;
}

.page.about-page .instructions .mouse i {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  font-size: 10px;
  -webkit-transform: translateX(calc(-50% + 0.5px));
          transform: translateX(calc(-50% + 0.5px));
  -webkit-animation: oscillate 700ms infinite alternate;
          animation: oscillate 700ms infinite alternate;
  -webkit-animation-fill-mode: none;
          animation-fill-mode: none;
}

@-webkit-keyframes oscillate {
  from {
    top: 50%;
  }
  to {
    top: 60%;
  }
}

@keyframes oscillate {
  from {
    top: 50%;
  }
  to {
    top: 60%;
  }
}
