.page.home-page {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
    position: relative;
    --white-space: 20px;

    @media screen and (min-width: 600px) {
        --white-space: var(--xxl);
    }

    padding: var(--white-space);
    box-sizing: border-box;

    .header {
        width: calc(var(--xxl) * 7);
        max-width: 100%;

        font-family: "Aldrich";
        text-align: left;
        color: white;
        white-space: pre-line;

        header {
            font-size: var(--xxl);
            line-height: 1;
        }

        h5 {
            font-size: var(--m);
            margin: 0;
            line-height: 2;
        }
    }

    .background {
        position: absolute;
        inset: 0;
        z-index: -1;

        > img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            object-position: left;
        }
    }

    .arrows {
        position: absolute;
        inset: 0;

        > * {
            display: none;
            position: absolute;
        }
        
        @media screen and (min-width: 600px) {
            > * {
                display: block;
            }
        }
        

        .arrow-1 {
            width: calc(var(--xxl) * 6.5 - 120px);
            top: calc(var(--xxl) * 3.5 + 20px); //calc(35% + 18vw - 80px);
            left: var(--white-space);
        }

        .arrow-2 {
            width: calc(0.2% + 0.5px);
            height: calc(100% - var(--xxl) * 3.5 - 30px);

            top: calc(var(--xxl) * 3.5 + 30px);
            left: calc(var(--white-space) + 0.7vw + 1px);
            background-color: var(--green);
        }

        .arrow-3 {
            display: block;
            height: 150px;
            
            top: calc(var(--white-space) + var(--xxl) * 3);
            left: 50%;
            transform: translateX(-50%);
            
            @media screen and (min-width: 600px) {
                height: calc(var(--xxl) * 2 + 10px);
                top: calc(var(--white-space));
                left: calc(var(--white-space) + var(--xxl) * 8.3 - 150px);
                transform: initial;
            }
        }

        .arrow-4 {
            height: calc(var(--xxl) * 0.02 + 0.5px);
            width: calc(100% - var(--white-space) - var(--xxl) * 8.3 + 145px);
            left: calc(var(--white-space) + var(--xxl) * 8.3 - 145px);
            top: calc(var(--white-space) + var(--xxl) * 0.05 + 1px);
            background-color: var(--green);
        }
    }

    .link {
        &.about {
            white-space: nowrap;
            margin-top: 200px;
            margin-left: auto;
            margin-right: auto;

            @media screen and (min-width: 600px) {
                margin-left: calc(var(--xxl) * 8 - 200px);
                margin-top: calc(var(--xxl) * 0.2);
                //margin-right: 0;
                //transform: translate(-50%, -50%);
            }
        }
    }

    .secondary-links {
        margin: 100px auto 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;

        .link:first-child {
            margin-bottom: 20px;
            margin-right: 0;
        }

        @media screen and (min-width: 600px) {
            display: block;
            width: max-content;
            margin-left: calc(var(--xxl) * 7.3 - 165px);
            transform: translateX(-50%);

            .link:first-child {
                margin-right: calc(var(--xxl) * 1 - 50px);
            }
        }
    }
}
