.button,
.link
{
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    
    font-size: var(--m);
    font-family: "Aldrich";
    
    &.primary,
    &.secondary
    {
        padding: 10px 40px;
        border-radius: 5px;
    }
    
    &.secondary{
        background-color: var(--dark-cyan);
        color: white;
    }
    
    &.primary
    {
        background-color: var(--cyan);
        color: black;
    }
}

.button
{
    &.primary,
    &.secondary
    {
        border: none;
    }
}


.tooltip-wrapper
{
    position: relative;

    .tooltip
    {
        position: absolute;
        z-index: 100;

        padding: 5px;

        opacity: 0;
        color: black;
        background-color: white;

        animation: fade-out 0.5s forwards;

        &.top
        {
            top: -10px;
            left: 50%;
            transform: translate(-50%, -100%);

            &::before
            {
                bottom: -4px;
                left: calc(50% - 5px);
            }    
        }

        &.bottom
        {
            bottom: -10px;
            left: 50%;
            transform: translate(-50%, 100%);

            &::before
            {
                top: -4px;
                left: calc(50% - 5px);
            }    
        }

        &.right
        {
            top: 50%;
            right: -10px;
            transform: translate(100%, -50%);

            &::before
            {
                left: -4px;
                bottom: calc(50% - 5px);
            }    
        }

        &.left
        {
            top: 50%;
            left: -10px;
            transform: translate(-100%, -50%);

            &::before
            {
                right: -4px;
                bottom: calc(50% - 5px);
            }    
        }

        &::before
        {
            content: "";

            width: 10px;
            height: 10px;
            transform: rotate(45deg);
            background-color: white;
            position: absolute;
            z-index: -1;
        }

    }

    &:hover .tooltip,
    .tooltip:hover
    {
        animation-name: fade-in;
    }

    @keyframes fade-out {
        from
        {
            visibility: visible;
            opacity: 0.8;
        }
        to
        {
            opacity: 0;
            visibility: hidden;
        }
    }
    
    @keyframes fade-in {
        from
        {
            opacity: 0;
            visibility: hidden;
        }
        to
        {
            visibility: visible;
            opacity: 0.8;
        }
    }
}


.dropdown
{
    color: white;
    position: relative;

    .dropdown__button
    {
        border: none;
        
    }
    
    .dropdown__items
    {
        position: absolute;
        visibility: hidden;
        list-style: none;

        margin: 0;
        padding: 0;
    }

    &.dropdown--open .dropdown__items
    {
        visibility: visible;
    }
    
}


.window-wrapper
{
    background-color: #0009;
    position: fixed;
    display: flex;
    inset: 0;
    z-index: 1000;

    .window
    {
        position: relative;
        margin: auto;
        padding: 30px;

        border-radius: 5px;
        border: 3px solid var(--green);
        background-color: var(--dark-cyan);

        .button.close
        {
            position: absolute;
            top: 5px;
            right: 5px;
            padding: 0;
            background: none;
            border: none;
            color: white;
        }
    }
}