.button,
.link {
  background-color: var(--light-green);
  text-decoration: none;
  color: black;
  display: inline-block;
  padding: 10px 40px;
  border-radius: 5px;
  font-size: var(--m);
  font-family: "Aldrich";
}

.button.secondary,
.link.secondary {
  background-color: var(--dark-cyan);
  color: white;
}
