.button,
.link {
  cursor: pointer;
  text-align: center;
  display: inline-block;
  font-size: var(--m);
  font-family: "Aldrich";
}

.button.primary, .button.secondary,
.link.primary,
.link.secondary {
  padding: 10px 40px;
  border-radius: 5px;
}

.button.secondary,
.link.secondary {
  background-color: var(--dark-cyan);
  color: white;
}

.button.primary,
.link.primary {
  background-color: var(--cyan);
  color: black;
}

.button.primary, .button.secondary {
  border: none;
}

.tooltip-wrapper {
  position: relative;
}

.tooltip-wrapper .tooltip {
  position: absolute;
  z-index: 100;
  padding: 5px;
  opacity: 0;
  color: black;
  background-color: white;
  -webkit-animation: fade-out 0.5s forwards;
          animation: fade-out 0.5s forwards;
}

.tooltip-wrapper .tooltip.top {
  top: -10px;
  left: 50%;
  -webkit-transform: translate(-50%, -100%);
          transform: translate(-50%, -100%);
}

.tooltip-wrapper .tooltip.top::before {
  bottom: -4px;
  left: calc(50% - 5px);
}

.tooltip-wrapper .tooltip.bottom {
  bottom: -10px;
  left: 50%;
  -webkit-transform: translate(-50%, 100%);
          transform: translate(-50%, 100%);
}

.tooltip-wrapper .tooltip.bottom::before {
  top: -4px;
  left: calc(50% - 5px);
}

.tooltip-wrapper .tooltip.right {
  top: 50%;
  right: -10px;
  -webkit-transform: translate(100%, -50%);
          transform: translate(100%, -50%);
}

.tooltip-wrapper .tooltip.right::before {
  left: -4px;
  bottom: calc(50% - 5px);
}

.tooltip-wrapper .tooltip.left {
  top: 50%;
  left: -10px;
  -webkit-transform: translate(-100%, -50%);
          transform: translate(-100%, -50%);
}

.tooltip-wrapper .tooltip.left::before {
  right: -4px;
  bottom: calc(50% - 5px);
}

.tooltip-wrapper .tooltip::before {
  content: "";
  width: 10px;
  height: 10px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  background-color: white;
  position: absolute;
  z-index: -1;
}

.tooltip-wrapper:hover .tooltip,
.tooltip-wrapper .tooltip:hover {
  -webkit-animation-name: fade-in;
          animation-name: fade-in;
}

@-webkit-keyframes fade-out {
  from {
    visibility: visible;
    opacity: 0.8;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes fade-out {
  from {
    visibility: visible;
    opacity: 0.8;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}

@-webkit-keyframes fade-in {
  from {
    opacity: 0;
    visibility: hidden;
  }
  to {
    visibility: visible;
    opacity: 0.8;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
    visibility: hidden;
  }
  to {
    visibility: visible;
    opacity: 0.8;
  }
}

.dropdown {
  color: white;
  position: relative;
}

.dropdown .dropdown__button {
  border: none;
}

.dropdown .dropdown__content {
  height: 0;
  visibility: hidden;
}

.dropdown .dropdown__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.dropdown.dropdown--open .dropdown__content {
  visibility: visible;
}

.window-wrapper {
  background-color: #0009;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  inset: 0;
  z-index: 1000;
}

.window-wrapper .window {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: auto;
  width: 90%;
  border-radius: 5px;
  border: 3px solid var(--green);
  background-color: black;
}

.window-wrapper .window .button.close {
  top: 5px;
  right: 5px;
  padding: 0;
  margin: 10px;
  background: none;
  border: none;
  color: white;
  float: right;
}

.window-wrapper .window .window__content {
  padding: var(--m);
  padding-top: 0;
  clear: right;
  overflow: auto;
  max-height: 80vh;
}

.search {
  background-color: white;
  padding: 5px;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.search i {
  color: var(--dark-cyan);
}

.search > input {
  width: 100%;
}

.search > input, .search > input:focus {
  outline: none;
  border: none;
}
