.page.projects-page {
    font-family: "Aldrich";
    position: relative;
    overflow: auto;

    .navbar {
        display: none;

        @media screen and (min-width: 600px) {
            display: flex;
        }
    }

    .menu {
        display: initial;

        @media screen and (min-width: 600px) {
            display: none;
        }
    }

    > .background {
        z-index: -1;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }

    .content {
        padding: 20px;

        @media screen and (min-width: 600px) {
            padding: var(--xxl);
            padding-top: var(--l);
        }
    }

    .title {
        text-align: center;
        color: var(--cyan);
        font-size: var(--xxl);
        text-shadow: 0px 0px 10px var(--green);
        margin-top: 100px;
    }

    .project {
        margin-top: var(--xxl);

        header {
            color: var(--cyan);
            font-size: var(--l);
            margin-bottom: 20px;
        }

        p {
            color: white;
            font-size: var(--s);

            @media screen and (min-width: 600px) {
                padding: 20px;
            }

            .link {
                font-size: var(--s);
                color: var(--green);
                text-decoration: underline;
            }
        }

        video,
        > img,
        .images {
            width: calc(100% + 40px);
            margin-left: -20px;

            @media screen and (min-width: 600px) {
                width: 100%;
                margin: 20px 0;
            }
        }

        .images {
            display: flex;
            gap: 20px;
            align-items: flex-end;
            justify-content: space-around;
            flex-wrap: wrap;

            > * {
                min-width: 0;
            }
        }
    }

    .coming-soon {
        color: white;
        font-size: var(--l);
        margin: 50px 0;
        text-align: center;
    }
}
