.page.projects-page {
  font-family: "Aldrich";
  position: relative;
  overflow: auto;
}

.page.projects-page .navbar {
  display: none;
}

@media screen and (min-width: 600px) {
  .page.projects-page .navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.page.projects-page .menu {
  display: initial;
}

@media screen and (min-width: 600px) {
  .page.projects-page .menu {
    display: none;
  }
}

.page.projects-page > .background {
  z-index: -1;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.page.projects-page .content {
  padding: 20px;
}

@media screen and (min-width: 600px) {
  .page.projects-page .content {
    padding: var(--xxl);
    padding-top: var(--l);
  }
}

.page.projects-page .title {
  text-align: center;
  color: var(--cyan);
  font-size: var(--xxl);
  text-shadow: 0px 0px 10px var(--green);
  margin-top: 100px;
}

.page.projects-page .project {
  margin-top: var(--xxl);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: white;
}

.page.projects-page .project header {
  color: var(--cyan);
  font-size: var(--l);
  margin-bottom: 20px;
}

.page.projects-page .project p {
  font-size: var(--s);
  text-indent: 4ch;
  line-height: 2ch;
}

@media screen and (min-width: 600px) {
  .page.projects-page .project p {
    padding: 20px;
  }
}

.page.projects-page .project p > * {
  text-indent: 0;
}

.page.projects-page .project p .link {
  font-size: var(--s);
  color: var(--green);
  text-decoration: underline;
}

.page.projects-page .project video,
.page.projects-page .project > img,
.page.projects-page .project .images {
  max-width: 960px;
  width: calc(100% + 40px);
  margin-left: -20px;
}

@media screen and (min-width: 600px) {
  .page.projects-page .project video,
  .page.projects-page .project > img,
  .page.projects-page .project .images {
    width: 100%;
    margin: 20px auto;
  }
}

.page.projects-page .project .images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: none;
}

.page.projects-page .project .images > * {
  min-width: 0;
}

.page.projects-page .project .view {
  margin: 0 auto;
}

.page.projects-page .project .view > .link,
.page.projects-page .project .view > .button {
  margin: 0 20px;
}

.page.projects-page .project .view > .embeded {
  position: fixed;
  inset: 0;
}

.page.projects-page .project .view > .embeded iframe {
  width: 100%;
  height: 100%;
}

.page.projects-page .project .view > .embeded .button {
  position: absolute;
  top: 0;
  right: 0;
}

.page.projects-page .project .view > .embeded .button i {
  color: black;
}

.page.projects-page .coming-soon {
  color: white;
  font-size: var(--l);
  margin: 50px 0;
  text-align: center;
}
