.page {
    box-sizing: border-box;
    background-color: black;
    min-height: 100vh;
    z-index: 0;
}

.hoverable
{
    opacity: 0.8;
    transition: opacity 0.3s;

    &:hover
    {
        opacity: 1;
    }
}