@import "pages/pages.css";
@import "components/Components.css";
@import "./Common.css";


body{
    margin: 0;
}

:root{
    --green: #2BD900;
    
    --cyan: #00FF85;
    --dark-cyan: #006666;

    --xs: calc();
    --s: calc();
    --m: calc(1vw + 10px);
    --l: calc(2vw + 15px);
    --xl: calc(3vw + 25px);
    --xxl: calc(6vw + 30px);
}

@media screen and (min-width: 1440px) {
    :root
    {
        --m: calc(1 * 14.4px + 10px);
        --xl: calc(3 * 14.4px + 25px);
        --xxl: calc(6 * 14.4px + 30px);
    }
}

@font-face {
    font-family: "Aldrich";
    src: url("fonts/Aldrich-Regular.ttf");
}